Unification/Library
Unification/Logs
Unification/Temp
Unification/UserSettings
Tools/FairyGUI-unity-master_example/Logs
*.dwlt
Unification/.idea/.idea.Unity
Unification/obj/Debug
release
Unification/Assets/StreamingAssets
Unification/Assets/StreamingAssets.meta
Unification/Bundles
Unification/Assembly-CSharp.csproj
Unification/Assembly-CSharp-Editor.csproj
Unification/Assembly-CSharp-firstpass.csproj
Unification/endel.nativewebsocket.csproj
*.csproj
Unification/Assets/Scripts/hotfix
Unification/Assets/Scripts/hotfix.meta
Unification/Unity.sln
