Unity/Library
Unity/Logs
Unity/Temp
Unity/UserSettings
Tools/FairyGUI-unity-master_example/Logs
*.dwlt
Unity/.idea/.idea.Unity
Unity/obj/Debug
release
Unity/Assets/StreamingAssets
Unity/Assets/StreamingAssets.meta
Unity/Bundles
Unity/Assembly-CSharp.csproj
Unity/Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp-firstpass.csproj
Unity/endel.nativewebsocket.csproj
*.csproj
Unity/Assets/Scripts/hotfix
Unity/Assets/Scripts/hotfix.meta
Unity/Unity.sln
